$color-dark: #573f84;
$color-medium: #9071a5;
$color-medium-light: #c2bac7;
$color-light: #cfa68e;
$color-gray-light: #f5f5f5;
$font-numbers: 'Yantramanav', sans-serif;

@import 'insert-container.scss';
@import 'matrixes-container.scss';

body,
div {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

* {
    outline: none;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inline {
    display: flex;
    justify-content: space-around;
}