$color-dark: #573f84;
$color-medium: #9071a5;
$color-light: #cfa68e;

body, div {
    margin: 0;
	padding: 0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 14px;
    font-weight: 100;
}

* {
    outline: none;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inline {
    display: flex;
    justify-content: space-around;
}