#insert-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 160px;
	height: calc(100% - 20px);
	background-color: $color-gray-light;
	padding: 140px 10px 10px 10px;
	color: #fff;
	border-right: 1px solid $color-medium-light;

	.shadow {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	}
	
	#logo {
		position: absolute;
		width: 100%;
		height: 131px;
		box-sizing: border-box;
		left: 0;
		top: 0;
		background: linear-gradient(-45deg, $color-medium, $color-light);
		padding: 10px 15px;
		font: 0/0 a;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			height: auto;
		}
	}

	.inner-container {
		padding: 5px;
		margin-top: 5px;
		border-top: 1px dashed $color-medium-light;

		h3 {
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: $color-medium;
		}

		label {
			color: $color-light;
			font-weight: 400;
			line-height: 24px;
		}
		
		input {
			@extend .input-default;
		}

		button {
			@extend .clickable-element;
			margin-top: 5px;
		}

		select {
			width: 100%;
			color: #fff;
			line-height: $elements-height;
			margin: 0px;
			font-size: 0.8rem;
			border: none;
			outline: none;
			background: transparent;

			option {
				// color: $color-dark;
				color: #fff;
				background-color: $color-light;
			}
		}
		
		.select-wrapper {
			@extend .clickable-element;
			display: inline-block;
			overflow: hidden;
			margin: 5px auto 0 auto;
		}

		.checkbox-true-label {
			color: $color-light;
			text-align: center;
			font-weight: 400;
			line-height: 24px;
		}

		.checkbox {
			display: block;
			width: 16px;
			height: 16px;
			background-image: url('../images/checkbox.png');
			background-size: 100% 200%;
			cursor: pointer;
			transition: transform 0.25s ease;

			&:hover {
				transform: scale(1.2, 1.2);
			}
		}

		input[type=checkbox] {
			display: none;

			&:not(:checked) + .checkbox {
				background-position: center top;
			}

			&:checked + .checkbox {
				background-position: center bottom;
			}
		}

		.vertex:first-child {
			margin-top: 5px;
		}

		.vertex {
			@extend .clickable-element;
			background-color: transparent;
			position: relative;
			margin: 1px 0;
			cursor: ns-resize;
			transition: all 0.25s ease;
			color: $color-light;

			&:hover {
				background-color: inherit;

				.value {
					background-color: $color-medium;
					color: $color-gray-light;
					display: none !important;
				}

				.original {
					display: inline-block !important;
				}
			}
			
			.index {
				position: relative;
				font-weight: 700;
				font-size: 0.7rem;
				display: inline-block;
				width: 20%;
				text-align: center;
				border: 1px solid $color-light;
				box-sizing: border-box;
				border-radius: 2px;
			}
			
			.value {
				font-weight: 700;
				font-size: 0.7rem;
				display: inline-block;
				width: 40%;
				height: 100%;
				text-align: center;
				border-left: 1px solid $color-gray-light;
				box-sizing: border-box;
				border-radius: 2px;
				transition: all 0.25s ease;
				overflow: hidden;
			}

			.original {
				display: none;
			}

			.erase-points {
				position: absolute;
				width: 20px;
				height: 20px;
				right: -20px;
				top: 0;
				background-image: url('../images/close-btn.png');
				background-position: center center;
				background-size: contain;
				display: none;
				cursor: pointer;
				transition: all 0.25s ease;
			}

			&[data-pivot] {
				.index {
					&::before {
						position: absolute;
						content: "";
						display: block;
						width: 4px;
						height: 100%;
						left: -4px;
						top: -1px;
						background-color: $color-light;
						border-top: solid 1px $color-light;
						border-bottom: solid 1px $color-light;
						border-radius: 2px 0 0 2px;
					}
				}
			}
			
			&:hover {
				transform: scale(1.1, 1.1);
				
				.erase-points {
					display: block;

					&:hover {
						transform: scale(1.3, 1.3);
					}
				}
			}
		}
		

		.inline {

			&>div {
				text-align: center;
			}

			.force-center {
				width: 33.33%;
				&>label {
					margin: 0 auto;
				}
			}
		}
	}

	.borderless {
		margin-top: 0 !important;
		border: none !important;
	}

}