#matrixes-container {
	position: absolute;
	left: 181px;
	top: 0;
	width: calc(100% - 181px);
	height: 120px;
	background-color: $color-gray-light;
	padding-bottom: 10px;
	display: flex;
	#matrixes-buttons-container {
		margin: 10px 0 0 10px;
		width: 80px;
		height: auto;
		button {
			@extend .clickable-element;
			margin: 1px 0;
			width: 100%;
		}
	}
	#matrixes-elements-holder {
		width: calc(100% - 110px);
		margin: 10px 0 0 10px;
		height: 110px;
		overflow-x: auto;
		overflow-y: hidden;
		text-align: center;

		.matrix-input {
			position: relative;
			width: 80px;
			height: 90px;
			color: $color-medium;
			font-size: 1rem;
			border-left: solid 1px $color-medium;
			border-right: solid 1px $color-medium;
			border-radius: 6px;
			padding: 10px;

			h5 {
				height: $elements-height;
				opacity: 1;
				transition: all 0.25s ease;
			}

			.values-input-container {
				width: 100%;
				color: $color-light;
				margin-top: 50%;
				transform: perspective(1px) translateY(-50%);
				div {
					width: 100%;
				}
				input {
					@extend .input-default;
				}
			}
			
			.erase-matrix {
				position: absolute;
				width: 20px;
				height: 20px;
				left: 50%;
				top: 5px;
				margin-left: -10px;
				background-image: url('../images/close-btn.png');
				background-position: center center;
				background-size: contain; // display: none;
				cursor: pointer;
				transition: all 0.25s ease;
				opacity: 0;

				&:hover {
					transform: scale(1.3, 1.3);
				}
			}

			&:hover	{
				h5 {
					opacity: 0;
				}
				.erase-matrix {
					opacity: 1;
				}
			}
		}
	}
}